DATABASE_URL="postgresql_uri"
BETTER_AUTH_SECRET="a_randomly_generated_secret"
BETTER_AUTH_URL="http://localhost:8787"
OPENAI_API_KEY="openai_api_key"
SLACK_BOT_TOKEN="slack_bot_token"
SLACK_CHANNEL_ID="slack_channel_id"